DEBUG=True
DJANGO_APP_NAME="iccu_guide"
DJANGO_ALLOWED_HOSTS=*
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:80,http://localhost:30312,
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:80,http://localhost:30312,
SECRET_KEY=95dd208faf6ad7391704ccc0a0573e347b59d4d2b1c3b9ff67f7177a35974b45

# --- POSTGRES ---
POSTGRES_HOST=db
POSTGRES_DB=iccu_guide_db
POSTGRES_USER=iccu_guide_db_user
POSTGRES_PASSWORD=12345
POSTGRES_PORT=5432