.DS_Store
.env
.idea/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/*.log
__pycache__/
*.py[cod]
*.рус
*.sqlite3
*.log
backend/media/
backend/static/
backend/.venv/
db-backups/
dumps/
secrets/
*django.mo
